


<div class="form">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
      
	    <h1>Log In</h1>
       <div class="flash"> <%= flash[:notice] %> </div>
	     <%= bootstrap_form_for(:session, url: login_path) do |f| %>

            <%= f.email_field :email %>

            <%= f.password_field :password %>
      
            <%= f.submit "Log in", class: "btn btn-primary" %>
        <% end %>

    <p>New user? <%= link_to "Sign up now!", signup_path %></p>
      </div>
    </div>
  </div>

</div>
