


<div class="form">
  <div class="container">
    <div class="row">
      <div class="col-lg-7">
      
	    <h1>Log In</h1>
       <div class="flash"> <%= flash[:notice]%> </div>
	     <%= form_for(:session, url: login_path) do |f| %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %> 
      
      
      <%= f.submit "Log in", class: "btn btn-primary" %>
    <% end %>

    <p>New user? <%= link_to "Sign up now!", signup_path %></p>
      </div>
    </div>
  </div>

</div>
