<div class="container">
    <h1 align="center"> All tasks </h1>
    <table class="table">
      <thead>
        <tr>
          <th> ID </th>
          <th> Title </th>
          <th> Tries </th>
          <th> Status</th>
        </tr>
      </thead>
      <tbody>
      <% types = Hash[accepted: "danger", default: "warning", failed: "info"]%>
        <% @tasks.each do |task| %>

            <tr class="<%= types[task.status(current_user)] %>" >
                <td> <%= link_to task.id, task %></td>
                <td> <%= link_to task.title, task %> </td>
                <td> <%= task.solutions.count %> </td>


                <td> <%= task.status(current_user) %> </td>
            </tr>
        <% end %>
      </tbody>
    </table>
</div>