
<div class="form">
  <div class="container">
    <div class="row">

      <div class="col-lg-7">
        <h1> New test </h1>
        <%= form_for create_test_path do |f| %>
            <%= f.label :input %> </br>
            <%= f.text_field :input, class: "form-control"%> </br>
            <%= f.label :true_output %> </br>
            <%= f.text_area :true_output, class: "form-control" %> </br>
            <%= f.submit "Create", class: 'btn' %>
        <% end %>
      </div>


    </div>
  </div>

</div>
