
<div class="form">
  <div class="container">
    <div class="row">
      <div class="col-lg-7">
    <h1> Create topic</h1>



    <%= bootstrap_form_for @topic do |f| %>



        <%= f.text_field :title%>

            <%= f.text_area :code %>

            <%= f.select :course_id, Course.all.collect {|p| [p.title, p.id]}, {label: "Belongs to course"} %>
            <%= f.submit "Create", class: 'btn' %>

    <% end %>
      </div>
      <div class="col-lg-4 col-lg-offset-1">
       <%= link_to "Create task", controller: "tasks", action: "new" %>
      </div>
    </div>
  </div>

</div>
