
<div class="form">
  <div class="container">
    <div class="row">
      <div class="col-lg-7">
    <h1> Sign Up</h1>
    <div class="flash"> <%= flash[:notice] %></div>
    <%= bootstrap_form_for @user do |t| %>

        <%= t.text_field :first_name%>

        <%= t.text_field :last_name%>

        <%= t.text_field :email%>

        <%= t.password_field :password%>

        <%= t.password_field :password_confirmation%>
        <%= t.submit "Create", class: "btn" %>
    <% end %>
      </div>
    </div>
  </div>

</div>
