
<div class="form">
  <div class="container">
    <div class="row">
      <div class="col-lg-7">
    <h1> Create new course</h1>
    <%= form_for @course do |t| %>
        <%= t.label :title %> </br>
        <%= t.text_field :title, class: "form-control"%></br>
        <%= t.label :description %></br>
        <%= t.text_field :description, class: "form-control"%></br>
            <%= t.label :image %> </br>
            <%= t.text_field :img, class: "form-control"%> </br>
        <%= t.submit "Create", class: "btn" %>
    <% end %>
      </div>
    </div>
  </div>

</div>
