
<div class="form">
  <div class="container">
    <div class="row">
      <div class="col-lg-7">
    <h1> Create new course</h1>
    <%= form_for @course do |t| %>
        <%= t.label :title %> </br>
        <%= t.text_field :title, class: "form-control"%></br>
        <%= t.label :description %></br>
        <%= t.text_field :description, class: "form-control"%></br>
        <%= t.label :image %> </br>
        <%= t.text_field :img, class: "form-control"%> </br>
        <%= t.submit "Create", class: "btn" %>
    <% end %>
      </div>
      <div class="col-lg-2">
        <%= link_to "Create topic", controller: "topics",  action: "new" %>
      </div>
      <div class="col-lg-2">

        <%= select("post", "topic_id", Topic.all.collect {|p| [p.title, p.id]}, { include_blank: true}) %>

        </div>
    </div>
  </div>

</div>
