
<div class="form">
  <div class="container">
    <div class="row">
      <div class="col-lg-7">
    <h1> Create new course</h1>
    <%= bootstrap_form_for @course do |t| %>

        <%= t.text_field :title %>

        <%= t.text_field :description %>

        <%= t.text_field :img %>
        <%= t.submit "Create", class: "btn" %>
    <% end %>
      </div>

    </div>
  </div>

</div>
