<div class="form">
  <div class="container">
    <div class="row">
      <div class="col-lg-7">
        <h1> <%= @task.title %></h1>
        <%= bootstrap_form_for @solution do |f|%>

            <%= f.text_field :lang %>

            <%= f.text_area :code, rows: "12", cols: "20" %>

            <%= hidden_field_tag :task_id, @task.id %>

            <%= f.submit "Submit", class: "btn" %>
        <% end %>
      </div>

    </div>
  </div>

</div>
